<div class="app-shell">
  <app-header></app-header>

  <div class="content-container">
    <!-- First column - fixed width (500px) - shows watchlists if feature is enabled -->
    <ng-container *featureFlag="'watchlist'; else watchlistDisabled">
      <div class="column column-left">
        <app-watchlist></app-watchlist>
      </div>
    </ng-container>
    <ng-template #watchlistDisabled>
      <!-- Optional: placeholder when watchlist is disabled -->
      <div class="column column-left disabled-feature">
        <p>Watchlist feature is currently disabled</p>
      </div>
    </ng-template>

    <!-- Second column - flexible width - shows other content -->
    <main class="column column-right">
      <div class="loading-container" *ngIf="loading">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="4" fill="var(--background-color)" animationDuration=".5s"></p-progressSpinner>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Toast component for notifications -->
  <p-toast position="bottom-right"></p-toast>
</div>
